
# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Environment files
.env
.medenv

# VSCode settings
.vscode/

# IDE files
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Dependency directories
env/
venv/
ENV/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
*.tar.gz
